input{
    display: block;
    width: 220px;
    padding: 5px;
    color: #666666;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10px;
}

input [type="submit"]{
    display: block;
    padding: 8px 15px;
    font-weight: bold;
    color: #444444;
    border: none;
    background-color: #888888;
}